<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="row mt-4">
                <div class="col-md-12">
                    <img src="https://images.pexels.com/photos/1036856/pexels-photo-1036856.jpeg?cs=srgb&dl=photo-of-black-clothes-on-hangers-1036856.jpg&fm=jpg"
                        alt="" class="capa d-flex justify-content-center mx-auto">
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-3 d-flex justify-content-center mb-4">
                    <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?cs=srgb&dl=man-in-red-jacket-1681010.jpg&fm=jpg"
                        alt="" class="perfil">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 bio">
                            <h3 class="mx-auto">varal de donald</h3>
                            <p class="mx-auto"> <br>
                                Beard fashion axe echo park, knausgaard shabby chic migas sriracha shoreditch VHS
                                intelligent sia williamsburg flannel prism blue bottle. Banh mi tacos beard fashion axe,
                                offal VHS godard subway tile poutine fingerstache try-hard quinoa.
                            </p>
                        </div>
                    </div>
                    <div class="row" class="d-flex justify-content-between mx-auto">
                        <div class="col-md-4 bio">
                            <p class="mx-auto"><br><b>localização: </b>são paulo</p>
                        </div>
                        <div class="col-md-4 bio">
                            <p class="mx-auto"><br><b>comudando desde: </b>2020 </p>
                        </div>
                        <div class="col-md-4 bio">
                            <p class="mx-auto"><br><b>avaliação: ★★★★★</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="varal mb-4 mx-auto">desacúmulos</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1"
                                    src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-1.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h5 class="title mx-auto">brusinha masculynah</h5>
                        </div>
                        <ul class="social">
                            <li><a href="" data-tip="Veja melhor"><i class="fa fa-search"></i></a></li>
                            <li><a href="" data-tip="Trocar"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1"
                                    src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-2.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h5 class="title mx-auto">brusinha pheminynah</h5>
                        </div>
                        <ul class="social">
                            <li><a href="" data-tip="Veja melhor"><i class="fa fa-search"></i></a></li>
                            <li><a href="" data-tip="Trocar"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1"
                                    src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-3.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h5 class="title mx-auto">social gayrotah</h5>
                        </div>
                        <ul class="social">
                            <li><a href="" data-tip="Veja melhor"><i class="fa fa-search"></i></a></li>
                            <li><a href="" data-tip="Trocar"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1"
                                    src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h5 class="title mx-auto">heterotop</h5>
                        </div>
                        <ul class="social">
                            <li><a href="" data-tip="Veja melhor"><i class="fa fa-search"></i></a></li>
                            <li><a href="" data-tip="Trocar"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>